In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(".././ml_datasets/Iris-f.csv")

In [3]:
df.shape

(150, 5)

In [4]:
df.count()

SepalLengthCm    148
SepalWidthCm     149
PetalLengthCm    149
PetalWidthCm     150
Species          149
dtype: int64

### Checking null values

In [5]:
df.isna()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            False         False          False         False    False
1            False         False          False         False    False
2            False         False          False         False    False
3            False         False          False         False    False
4             True         False          False         False    False
..             ...           ...            ...           ...      ...
145          False         False          False         False    False
146          False         False          False         False    False
147          False         False          False         False    False
148          False         False          False         False    False
149          False         False          False         False    False

[150 rows x 5 columns]

In [6]:
df.isna().sum()

SepalLengthCm    2
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     0
Species          1
dtype: int64

### Row index of missing values

In [7]:
df[df.isna().any(axis=1)]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
4             NaN           3.6            1.4           0.2  Iris-setosa
7             5.0           NaN            NaN           0.2  Iris-setosa
10            5.4           3.7            1.5           0.2          NaN
20            NaN           3.4            1.7           0.2  Iris-setosa

In [8]:
df[df.isna().any(axis=1)].index

Index([4, 7, 10, 20], dtype='int64')

In [9]:
df1 = df.copy()

### Droping the row with missing values

In [10]:
df1.dropna(axis=0, inplace=True) 
# inplace reflects changes on the dataset

In [11]:
df1.shape

(146, 5)

In [12]:
df1.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [15]:
df1.corr

<bound method DataFrame.corr of      SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
5              5.4           3.9            1.7           0.4     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[146 rows x 5 columns]>

In [37]:
df1 = df.copy(deep=True)

In [38]:
df1.isna().sum()

SepalLengthCm    2
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     0
Species          1
dtype: int64

In [39]:
df1.dropna(axis=0, inplace=True, thresh=4)

In [40]:
df1.isna().sum()

SepalLengthCm    2
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          1
dtype: int64

In [41]:
df1.shape

(149, 5)

In [43]:
df1[df1.isna().any(axis=1)]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
4             NaN           3.6            1.4           0.2  Iris-setosa
10            5.4           3.7            1.5           0.2          NaN
20            NaN           3.4            1.7           0.2  Iris-setosa

### Filling with 0

In [46]:

df1.fillna(0, inplace=True)

In [47]:
df1[df1.isna().any(axis=1)]

Empty DataFrame
Columns: [SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []