# Infosys Stock Prediction

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../ml_datasets/stock_infosys.csv")

In [3]:
df.head()

           Date    Close     Open     High      Low  Vol-Million  Change %
0  Jun 18, 2018  1269.20  1281.80  1291.00  1264.05         2.86     -0.01
1  Jun 15, 2018  1281.25  1237.00  1291.50  1235.00         9.98      0.03
2  Jun 14, 2018  1239.70  1253.00  1253.00  1234.10         3.80     -0.02
3  Jun 13, 2018  1264.80  1256.86  1273.93  1256.86         2.88      0.01
4  Jun 12, 2018  1248.63  1255.82  1261.28  1240.64         3.92      0.00

In [4]:
df.isna().sum()

Date           0
Close          0
Open           0
High           0
Low            0
Vol-Million    0
Change %       0
dtype: int64

In [5]:
df.count()

Date           249
Close          249
Open           249
High           249
Low            249
Vol-Million    249
Change %       249
dtype: int64